.modalhidden {
    display: none;
  }
  
  .modalshow {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 18%;
    left: 0;
    background-color: #e1e1e1ee;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .modalheader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .modalbody {
    margin-bottom: 10px;
  }
  
  .modalfooter {
    display: flex;
    justify-content: flex-end;
  }

  .modalclose{
    position: absolute;
    top: 3%;
    right: 8%;
  }
  